---
import { Button } from "@/components/ui/button"

import logoSCLogistics from "@/assets/images/about/about-map.png";
---
<section class="mt-0 w-full flex-col justify-center px-3 py-12 md:py-25 md:flex md:flex-row-reverse md:gap-4 bg-[url('./../assets/images/about/about-bg.png')] bg-center bg-cover bg-no-repeat text-white">

    <!-- left side -->
    <div class="w-full h-full md:flex-1/2 md:ml-50">
      <div class="relative md:flex md:justify-start">
        <h2
          class="font-heading font-extrabold text-5xl text-center break-normal opacity-12 md:text-center md:text-6xl"
        >
          Sobre Nosotros
        </h2>
        <h4
          class="font-heading font-bold text-4xl text-center inset-x-0 absolute bottom-0 md:text-center md:text-5xl md:left-12 md:right-auto md:absolute md:bottom-0"
        >
          Sobre Nosotros
        </h4>
      </div>
      <div class="md:flex-col md:justify-start">
        <article
          class="prose text-center px-2 my-4 text-white font-principal font-normal md:flex md:justify-start md:text-left md:text-lg"
        >
          <p>
            En SCLogistics Service, creemos que un buen transporte no solo mueve
            carga, sino también confianza. Somos una empresa panameña en
            crecimiento, comprometida con brindar soluciones logísticas seguras,
            puntuales y eficientes para negocios y particulares.
          </p>
        </article>
        <div class="text-center md:flex md:justify-start">
        <Button size={"lg"} variant={"secondary"} className="hover:text-white font-principal">
          <a href="/about">Sobre Nosotoros</a>
        </Button>
        </div>
      </div>
    </div>
    <!-- right side -->
 
    <div class="h-96 flex justify-center items-center md:h-full md:mt-0 md:ml-0">
      <img src={logoSCLogistics.src} alt="Logo" class="w-full h-[50%] md:w-full md:h-[50%] md:ml-55" />
    </div>
</section>

