---
import logo from "@/assets/images/logo/SCLogistics.svg";
import { Icon } from "astro-icon/components";
---

<footer class="bg-white dark:bg-gray-900">
    <div class="w-full p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
            <a href="/" class="flex items-center">
              <img src={logo.src} class="h-8 me-3" alt="SCLogistics Service Logo" />
              <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">SCLogisticServices</span>
            </a>
          </div>
          <div class="grid grid-cols-2 gap-4 sm:gap-6 sm:grid-cols-4">
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Contacto</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          📞 <a href="tel:+5076631-8383" class="hover:underline">+507 6631-8383</a>
                      </li>
                      <li>
                        📧 <a href="mailto:sclogisticservices@gmail.com" class="hover:underline">sclogisticservices@gmail.com</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">WhatsApp</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li>
                          <a href="https://wa.me/5076631-8383" class="hover:underline">Escríbenos por WhatsApp</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Menú</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="/" class="hover:underline">Inicio</a>
                      </li>
                      <li class="mb-4">
                          <a href="/about" class="hover:underline">Sobre Nosotros</a>
                      </li>
                      <li class="mb-4">
                          <a href="#services" class="hover:underline">Servicios</a>
                      </li>
                      <li>
                          <a href="/contact" class="hover:underline">Contacto</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                        <a href="/legal#privacidad" class="hover:underline">Política de Privacidad</a>
                      </li>
                      <li class="mb-4">
                        <a href="/legal#terminos" class="hover:underline">Términos y Condiciones</a>
                      </li>
                      <li>
                        <a href="/legal#atribuciones" class="hover:underline">Atribuciones</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 SCLogisticServices. Todos los derechos reservados.
          </span>
          <div class="flex mt-4 sm:justify-center sm:mt-0">
              <a href="https://wa.me/5076631-8383" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <Icon name={"brand-whatsapp"} class="size-6"/> 
          <span class="sr-only">WhatsApp</span>
              </a>
          </div>
      </div>
    </div>
</footer>

